#countLabel{
    display: block;
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}
#btnContainer{
    text-align: center;

}
.buttons{
    padding: 10px 20px;
    font-size: 30px;
    color: black;
    background-color: rgb(255, 68, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(200, 98, 30);
}